* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  height: 30vh;
}
.form {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.output {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.item__descr {
  margin: 30px auto 30px;
}
